<% content_for :title do %>Ryan's Dashboard<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="weather" data-view="Weather"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="AnalogClock"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="stock" data-view="Stock" data-title="Market" data-prefix="$"></div>
    </li>

    <li  data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="epidemik-dev/api" data-server="travis"
          data-view="BuildWindow"></div>
    </li>
    
     <li  data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-url="https://www.youtube.com/embed/hHW1oY26kxQ"
          data-view="Iframe"></div>
    </li>

    <li  data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="todo" data-view="Todo"></div>
    </li>
  </ul>
</div>
